{% extends 'accounts/base.html' %}

{% block content %}
    <h2>Log In</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.errors %}
                    <small style="color: red">{{ field.errors }}</small>
                {% endif %}
            </p>
        {% endfor %}
        {% if form.non_field_errors %}
            <p style="color: red">{{ form.non_field_errors }}</p>
        {% endif %}
        <button type="submit">Log In</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
{% endblock %}